/* styles.css */

/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f5f5f5;
    color: #333;
}

a {
    color: #1a73e8;
}

a:hover {
    color: #0f56b3;
}


html {
    scroll-behavior: smooth;
}

header {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem 0;
    background-color: #333;
    color: white;
    width: 100%
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 40px;
}

.contact-info {
    font-size: 1rem; /* Set the font size for the contact information */
    margin-left: 20px; /* Add some space between the contact information and other header content */
}

.contact-info p {
    margin: 0; /* Remove the default margin from the paragraphs */
}

header h1 {
    font-size: 2.5rem;
}

main {
    padding: 2rem 0;
    margin-top: 10px;
}

section {
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 0.5rem;
}

.date, .position, .degree {
    font-weight: bold;
}

.publications {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
    margin-top: -3rem;
}

.publication {
    width: calc(45% - 1rem);
    background-color: white;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    transition: all 0.3s ease; /* Add a transition for all properties */
}

.publication:hover {
    background-color: #f0f0f0; /* Change the background color when hovered */
    transform: scale(1.05); /* Scale the publication box when hovered */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Change the box shadow when hovered */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .publication {
        width: calc(50% - 1rem);
    }
}

@media (max-width: 480px) {
    .publication {
        width: 100%;
    }
}

.publication img {
    width: 100%;
    height: auto;
    max-width: 300px; /* Add a maximum width */
    max-height: 300px; /* Add a maximum height */
    object-fit: cover; /* Add this line to maintain the aspect ratio and prevent distortion */
    display: block; /* Add this line to make the image a block-level element */
    margin: 0 auto; /* Add this line to center the image horizontally */
}

.publication a {
    edisplay: inline-block;
    margin-top: 1rem;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

.publication a:hover {
    background-color: #3f8e53;
    color: white
    font-size: 2rem;
}

.resource-list {
    list-style-type: none; /* Remove the default list style */
    padding: 0; /* Remove the default padding */
    text-align: center; /* Center the resource links */
}

.resource-list li {
    margin: 2rem; /* Add some space between resource links */
    display: inline-block; /* Display resource links inline with spacing */
}

.resource-list a {
    text-decoration: none; /* Remove the default link underline */
    color: #4caf50; /* Set the link color */
    font-size: 2rem; /* Set the font size for the resource links */
}

.resource-list a:hover {
    color: #3f8e53; /* Set the hover color for the resource links */
}

.circular-image {
    width: 120px; /* Set the width of the image */
    height: 120px; /* Set the height of the image */
    border-radius: 30%; /* Make the image circular */
    object-fit: cover; /* Preserve the aspect ratio and cover the container */
    margin-right: 20px; /* Add some space between the image and the title text */
}

.banner {
    background-color: #333; /* Change the background color of the banner */
    padding: 1rem;
    font-size: 2rem;
    color: white; /* Change the text color of the banner */
    text-align: center; /* Center the text within the banner */
    width: 100%; /* Make the banner span the full width of the section */
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 30px; 
    transition: all 0.3s ease;
}

.banner:hover {
    background-color: #3f8e53; /* Change the background color when hovered */
    transform: scale(1.02); /* Scale the banner slightly when hovered */
}

button {
    background-color: #1a73e8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0f56b3;
    transform: translateY(-2px);
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/bimsb.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.2;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color = 'white';
    padding: 0px;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar a:hover {
    background-color: #111;
}

/* turn off navbar in small screens */
@media screen and (max-width: 768px) {
  .navbar {
    display: none; /* Hide the navbar on smaller screens */
  }
}


.news-list {
    list-style-type:disc;
    padding: 0;
    padding-left: 40px; /* Add some padding on the left side to align the bullet points */
}

.news-list li {
    margin-bottom: 10px;
}

.news-list a {
    color: #1a73e8;
    text-decoration: none;
    position: relative; /* Add a relative position to position the arrow correctly */
    transition: color 0.3s ease;
}

.news-list a::after {
    content: ""; /* Add an empty content for the ::after pseudo-element */
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px; /* Set the border widths to create a triangle shape */
    border-color: transparent transparent transparent #1a73e8; /* Set the border colors to create an arrow effect */
    top: 50%; /* Position the arrow at the vertical center of the link */
    left: 100%; /* Position the arrow to the right of the link */
    margin-top: -5px; /* Adjust the margin to vertically center the arrow */
    opacity: 0; /* Set the initial opacity to 0 (invisible) */
    transition: opacity 0.3s ease; /* Add a transition for the opacity property */
}

.news-list a:hover {
    color: #e53935;
}

.news-list a:hover::after {
    opacity: 1; /* Change the opacity to 1 (visible) on hover */
    border-color: transparent transparent transparent #e53935; /* Update the arrow color on hover */
}